# Redirigir todo el tráfico a index.html
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /equiparte/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /equiparte/index.html [L]
</IfModule>